#Section 1

## 1. Definition of Sample and population

- Sample is portion representative of the population under study
- Population is all the entry point of a particular occurence under considerations and study

## 2. What confidence interval tell us

It tell us how confident we are with our estimated range of the population mean from the sample mean

## 3. An hypothesis

An informed assuption made about a particular phenomena which is tested to verify its accuracy

## 4. Types of hypothesis

- Null hypothesis: its a statement we are trying to disprove and is stated in the negative form. eg The lowest temperature recorded in Nairobi is not below 16 degrees
- Alternate hypothesis: a statement we accept as true if there is sufficient evidence eg The lowest temperature recorded in Nairobi is below 16 degrees

## 5. Hypothesis testing and which type is tested

Its the process of verifying the accuracy and validity of a stated assumption
We test Null hypothesis

## 6. Hypothesis testing process

1. State your hypothesis
2. Choose your alpha value
3. Perform statistical test depending on the nature of the data
4. Calculate the p-value
5. Make a decision to accept null hypothesis if P value is greater than alpha and if vice versa reject

## 7. Alpha

its the amount of error we are willing to accept as statistically insignificant

## 8. Relation between P value and alpha

If the P value is greater than alpha, there is weak evidence against the null hypothesis and we consequently accept it as true
If the P value is less than alpha, there is strong evidence against the hypothesis and we reject it

## 9. Assumptions on data for parametric test

- Data is normally distributed
- The variance is equal

##10. Test to determine normal distribution

Shapiro Wilk test for a small dataset

#Section 2

In [1]:
import pandas as pd #initializing the dataset

athletes = pd.read_csv("https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2021/2021-07-27/athlete_events.csv")

##a)

- Null hypothesis - The average male olympian height is not the same as the average female olympian height
- Alternate hypothesis - The average male olympian height is the same as the average female olympian height

##c) Preparing the dataset

In [35]:
athletes.head(10)

Height
False    210945
True      60171
Name: count, dtype: int64

In [36]:
athletes['Height'].dropna()

0         False
1         False
2          True
3          True
4         False
          ...
271111    False
271112    False
271113    False
271114    False
271115    False
Name: Height, Length: 271116, dtype: bool