Importing the sqlite3 and pandas libraries to get us started as well as initializing the 3 databases in memory.

In [4]:
import sqlite3
import pandas as pd

# Load datasets
athletes = pd.read_csv("https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2021/2021-07-27/athlete_events.csv")
regions = pd.read_csv("https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2021/2021-07-27/noc_regions.csv")
sales = pd.read_csv("https://raw.githubusercontent.com/mwaskom/seaborn-data/master/tips.csv")
sales = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv", sep='\t')


# Connect to SQLite in-memory DB
conn = sqlite3.connect(":memory:")

# Write DataFrames to SQL tables
athletes.to_sql("athletes_table", conn, index=False, if_exists="replace")
regions.to_sql("regions_table", conn, index=False, if_exists="replace")
sales.to_sql("sales_table", conn, index=False, if_exists="replace")

4622

#Section 1
##Athelete's database
Total number of medals won by the top 5 countries

In [26]:
pd.read_sql(
    """
    SELECT Count(medal) as total_medals, team
    FROM athletes_table
    GROUP BY team
    ORDER BY total_medals DESC
    LIMIT 5;
    """,conn
)

   total_medals           Team
0          5219  United States
1          2451   Soviet Union
2          1984        Germany
3          1673  Great Britain
4          1550         France

Average of atheletes who won a gold medal

In [27]:
pd.read_sql(
    """
    SELECT AVG(age) as avg_age
    FROM athletes_table
    WHERE medal = 'Gold';
    """,conn
)

     avg_age
0  25.901013

Number of distict events in each sport

In [36]:
pd.read_sql(
    """
    SELECT sport, count(DISTINCT event) as number_of_events
    FROM athletes_table
    GROUP BY sport;
    """,conn
)

               Sport  number_of_events
0        Aeronautics                 1
1      Alpine Skiing                10
2           Alpinism                 1
3            Archery                29
4   Art Competitions                29
..               ...               ...
61        Tug-Of-War                 1
62        Volleyball                 2
63        Water Polo                 2
64     Weightlifting                21
65         Wrestling                30

[66 rows x 2 columns]

All athletes from United States

In [39]:
pd.read_sql(
    """
    SELECT *
    FROM athletes_table
    WHERE NOC = 'USA';
    """,conn
)

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,6,Per Knut Aaland,M,31.0,188.0,75.0,United States,USA,1992 Winter,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 10 kilometres,None
1,6,Per Knut Aaland,M,31.0,188.0,75.0,United States,USA,1992 Winter,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 50 kilometres,None
2,6,Per Knut Aaland,M,31.0,188.0,75.0,United States,USA,1992 Winter,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 10/15 kilometres Pu...,None
3,6,Per Knut Aaland,M,31.0,188.0,75.0,United States,USA,1992 Winter,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 4 x 10 kilometres R...,None
4,6,Per Knut Aaland,M,33.0,188.0,75.0,United States,USA,1994 Winter,1994,Winter,Lillehammer,Cross Country Skiing,Cross Country Skiing Men's 10 kilometres,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18848,135458,Rami Zur,M,27.0,175.0,77.0,United States,USA,2004 Summer,2004,Summer,Athina,Canoeing,"Canoeing Men's Kayak Doubles, 500 metres",None
18849,135458,Rami Zur,M,31.0,175.0,77.0,United States,USA,2008 Summer,2008,Summer,Beijing,Canoeing,"Canoeing Men's Kayak Singles, 500 metres",None
18850,135458,Rami Zur,M,31.0,175.0,77.0,United States,USA,2008 Summer,2008,Summer,Beijing,Canoeing,"Canoeing Men's Kayak Singles, 1,000 metres",None
18851,135543,"Victor Andrew ""Vic"" Zwolak",M,25.0,175.0,64.0,United States,USA,1964 Summer,1964,Summer,Tokyo,Athletics,"Athletics Men's 3,000 metres Steeplechase",None
18852,135566,"James Francis ""Jim"" Zylker",M,21.0,175.0,75.0,United States,USA,1972 Summer,1972,Summer,Munich,Football,Football Men's Football,None

Number of medals awarded each year

In [42]:
pd.read_sql(
    """
    SELECT year, COUNT(medal) as number_of_medals
    FROM athletes_table
    GROUP BY year
    """,conn
)

    Year  number_of_medals
0   1896               143
1   1900               604
2   1904               486
3   1906               458
4   1908               831
5   1912               941
6   1920              1308
7   1924               962
8   1928               823
9   1932               739
10  1936              1025
11  1948               987
12  1952              1033
13  1956              1043
14  1960              1058
15  1964              1215
16  1968              1256
17  1972              1414
18  1976              1531
19  1980              1602
20  1984              1698
21  1988              1845
22  1992              2030
23  1994               331
24  1996              1842
25  1998               440
26  2000              2004
27  2002               478
28  2004              2001
29  2006               526
30  2008              2048
31  2010               520
32  2012              1941
33  2014               597
34  2016              2023

Atheletes whose height or weight is missing

In [ ]:
pd.read_sql(
    """
    SELECT *
    FROM athletes_table
    WHERE height IS NULL or weight IS NULL
    """, conn
)

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,None
1,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
2,8,"Cornelia ""Cor"" Aalten (-Strannood)",F,18.0,168.0,NaN,Netherlands,NED,1932 Summer,1932,Summer,Los Angeles,Athletics,Athletics Women's 100 metres,None
3,8,"Cornelia ""Cor"" Aalten (-Strannood)",F,18.0,168.0,NaN,Netherlands,NED,1932 Summer,1932,Summer,Los Angeles,Athletics,Athletics Women's 4 x 100 metres Relay,None
4,10,"Einar Ferdinand ""Einari"" Aalto",M,26.0,NaN,NaN,Finland,FIN,1952 Summer,1952,Summer,Helsinki,Swimming,Swimming Men's 400 metres Freestyle,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64258,135539,Marius Edmund Zwiller,M,18.0,NaN,NaN,France,FRA,1924 Summer,1924,Summer,Paris,Swimming,Swimming Men's 200 metres Breaststroke,None
64259,135542,Werner Zwingli,M,29.0,NaN,NaN,Switzerland,SUI,1956 Winter,1956,Winter,Cortina d'Ampezzo,Cross Country Skiing,Cross Country Skiing Men's 15 kilometres,None
64260,135542,Werner Zwingli,M,29.0,NaN,NaN,Switzerland,SUI,1956 Winter,1956,Winter,Cortina d'Ampezzo,Cross Country Skiing,Cross Country Skiing Men's 4 x 10 kilometres R...,None
64261,135552,Jan (Johann-) Zybert (Siebert-),M,20.0,NaN,NaN,Poland,POL,1928 Summer,1928,Summer,Amsterdam,Cycling,"Cycling Men's Team Pursuit, 4,000 metres",None
64262,135561,Frantiek Zyka,M,26.0,NaN,NaN,Czechoslovakia,TCH,1928 Summer,1928,Summer,Amsterdam,Athletics,Athletics Men's Marathon,None

Replace missing height with average athlete height

In [88]:
pd.read_sql(
    """
    SELECT *
    FROM athletes_table
    WHERE height = (
      SELECT COALESCE(height,AVG(height))
      FROM athletes_table
    )
    """,conn
)

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,None
1,72,Aleksey Aleksandrovich Abalmasov,M,24.0,180.0,83.0,Belarus,BLR,2004 Summer,2004,Summer,Athina,Canoeing,"Canoeing Men's Kayak Fours, 1,000 metres",None
2,72,Aleksey Aleksandrovich Abalmasov,M,28.0,180.0,83.0,Belarus,BLR,2008 Summer,2008,Summer,Beijing,Canoeing,"Canoeing Men's Kayak Fours, 1,000 metres",Gold
3,92,Ignazio Abate,M,21.0,180.0,73.0,Italy,ITA,2008 Summer,2008,Summer,Beijing,Football,Football Men's Football,None
4,97,Carlos Alberto Abaunza,M,16.0,180.0,70.0,Nicaragua,NCA,1976 Summer,1976,Summer,Montreal,Athletics,Athletics Men's High Jump,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12487,135358,Oleksandr Valeriyovych Zubrikhin,M,25.0,180.0,75.0,Ukraine,UKR,2000 Summer,2000,Summer,Sydney,Boxing,Boxing Men's Middleweight,None
12488,135434,Edmundo Ziga Erraz,M,NaN,180.0,95.0,Chile,CHI,1948 Summer,1948,Summer,London,Athletics,Athletics Men's Hammer Throw,None
12489,135484,Nikolay Vladimirovich Zuyev,M,29.0,180.0,83.0,Russia,RUS,1996 Summer,1996,Summer,Atlanta,Badminton,Badminton Mixed Doubles,None
12490,135484,Nikolay Vladimirovich Zuyev,M,29.0,180.0,83.0,Russia,RUS,1996 Summer,1996,Summer,Atlanta,Badminton,Badminton Men's Doubles,None
12491,135484,Nikolay Vladimirovich Zuyev,M,37.0,180.0,83.0,Russia,RUS,2004 Summer,2004,Summer,Athina,Badminton,Badminton Mixed Doubles,None

##Sales dataset

Returning total sales value per item

In [59]:
pd.read_sql(
    """
    SELECT item_name,
    SUM(CAST(REPLACE(item_price,'$','')AS REAL)) as total_sales_value
    FROM sales_table
    GROUP BY item_name
    """,conn
)

                                item_name  total_sales_value
0                       6 Pack Soft Drink             356.95
1                           Barbacoa Bowl             672.36
2                        Barbacoa Burrito             894.75
3                   Barbacoa Crispy Tacos             120.21
4                     Barbacoa Salad Bowl             106.40
5                     Barbacoa Soft Tacos             250.46
6                           Bottled Water             302.56
7                                    Bowl              29.60
8                                 Burrito              44.40
9                             Canned Soda             137.34
10                      Canned Soft Drink             438.75
11                          Carnitas Bowl             736.71
12                       Carnitas Burrito             597.83
13                  Carnitas Crispy Tacos              77.96
14                         Carnitas Salad               8.99
15                    Carnitas Salad Bowl              66.34
16                    Carnitas Soft Tacos             375.94
17                           Chicken Bowl            7342.73
18                        Chicken Burrito            5575.82
19                   Chicken Crispy Tacos             472.13
20                          Chicken Salad              81.09
21                     Chicken Salad Bowl            1228.75
22                     Chicken Soft Tacos            1108.09
23                                  Chips             494.34
24           Chips and Fresh Tomato Salsa             361.36
25                    Chips and Guacamole            2201.04
26      Chips and Mild Fresh Tomato Salsa               3.00
27     Chips and Roasted Chili Corn Salsa              67.85
28     Chips and Roasted Chili-Corn Salsa              43.02
29  Chips and Tomatillo Green Chili Salsa             132.75
30    Chips and Tomatillo Red Chili Salsa             147.50
31  Chips and Tomatillo-Green Chili Salsa              78.87
32    Chips and Tomatillo-Red Chili Salsa              59.75
33                           Crispy Tacos              14.80
34                                   Izze              67.80
35                       Nantucket Nectar              98.31
36                                  Salad              14.80
37                          Side of Chips             185.90
38                             Steak Bowl            2260.19
39                          Steak Burrito            3851.43
40                     Steak Crispy Tacos             357.34
41                            Steak Salad              35.66
42                       Steak Salad Bowl             343.59
43                       Steak Soft Tacos             536.05
44                            Veggie Bowl             867.99
45                         Veggie Burrito             934.77
46                    Veggie Crispy Tacos               8.49
47                           Veggie Salad              50.94
48                      Veggie Salad Bowl             182.50
49                      Veggie Soft Tacos              73.96

Show top 5 records with highest item_price

In [74]:
pd.read_sql(
    """
    SELECT *
    FROM sales_table
    ORDER BY CAST(REPLACE(item_price,'$','')AS REAL) DESC
    LIMIT 5
    """,conn
)

,order_id,quantity,item_name,choice_description,item_price
0,1443,15,Chips and Fresh Tomato Salsa,None,$44.25
1,1398,3,Carnitas Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$35.25
2,511,4,Chicken Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$35.00
3,1443,4,Chicken Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$35.00
4,1443,3,Veggie Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$33.75

Total number of unique customer orders(each order ID is a customer)

In [83]:
pd.read_sql(
    """
    SELECT COUNT(DISTINCT order_id) as num_of_orders
    FROM sales_table
    """,conn
)

   num_of_orders
0           1834

#Section 2

Find countries with high perfoming atheles in the olympics

In [124]:
pd.read_sql(
    """
    WITH joined_table as (
    SELECT r.region, a.name, a.medal, a.age
    FROM regions_table r
    LEFT JOIN athletes_table a ON r.NOC = a.NOC
    )
    SELECT region, COUNT(DISTINCT name) as num_of_medalholders, AVG(age) as avg_age,
    CASE
      WHEN AVG(age) < 25 THEN 'high'
      WHEN AVG(age) >= 25 AND AVG(age) <= 30 THEN 'medium'
      ELSE 'low'
    END AS performance
    FROM joined_table
    WHERE medal IS NOT NULL
    GROUP BY region
    """,conn
)

                 region  num_of_medalholders    avg_age performance
0           Afghanistan                    1  23.000000        high
1               Algeria                   14  24.117647        high
2             Argentina                  231  26.423358      medium
3               Armenia                   15  23.375000        high
4             Australia                  886  24.802827        high
..                  ...                  ...        ...         ...
131           Venezuela                   15  24.200000        high
132             Vietnam                    3  32.750000         low
133  Virgin Islands, US                    1  27.000000      medium
134              Zambia                    2  27.000000      medium
135            Zimbabwe                   16  25.363636      medium

[136 rows x 4 columns]